body {
    background-color: bisque;
}

header {
    display: flex;
    justify-content: space-around;
}

header h1 {
    background-color: rgb(143, 85, 23);
    padding: 5px 30px ;
    border-radius: 10px 0;

}   
header h1 a {
    text-decoration: none;
    color: whitesmoke
}

.nav-bar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(9, 188, 128);
    border-radius: 10px 0;
}

nav ul li a {
    padding: 20px; 
    text-decoration: none;
    color: whitesmoke
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}